{
  "parser": "babel-eslint",
  "env": {
    node: true,
    es6: true,
    jest: true,
    jasmine: true,
  },
  "extends": [
    "dabapps/react",
    "dabapps/react-native",
    "dabapps/es6",
    "dabapps/browser",
  ],
  "rules": {
    "react/jsx-indent-props": 0,
    "react/jsx-handler-names": 0,
  }
}
